// #MAIN COLORS
$border-color: rgba(#444444, .25) !default;
$font-color--main: #000000 !default;

$link-color--main: #154B99 !default;
$link-color--main--hover: #8490C8 !default;
$link-color--negative--hover: #FFFFFF !default;


$bg-black: #222222 !default;
$bg-blue: #8490C8 !default;
$bg-grey: #E7E7E7 !default;
$bg-dark-blue: #154B99 !default;

// #HEADER
$headline-color: #444444 !default;
$header-bg-color--light: #D3D6EA !default;

// #HEADER TOP
$header-top-border-color: #DDDDDD !default;

// #FOOTER
$footer-border-color: #999999 !default;

// #BORDER COLORS
$border-dark-blue: #154B99 !default;
$border-yellow: #154B99 !default;

// #NAVIGATION
$offcanvas-list-item-bg: #E7E7E7 !default;
$offcanvas-list-item-border-horizontal: #E7E7E7 !default;
$offcanvas-list-item-border: #DDDDDD !default;

// #BUTTON
$button-border-color--light--hover: #999999 !default;
$button-color--hover: #D5D3E8 !default;

// #COOKIEBOX
$cookiebox-bg-color: #154B99 !default;

// #TABLE
$table-bg-color--even: #E7E7E7 !default;
$table__header-border-color: #444444 !default;
$table-bg-color--light: #D3D6EA !default;
